html,body,header,section,article,aside,footer,nav,input,form,a,ul,li,span,button,h1,h2,h3,h4,h5,h6,div,hr,br,b,strong,i{
	margin:0;
	padding:0;
}
html{
	font-size: 62.5%;
}
body{
	font-size: 14px;
	font-size: 1.4rem;
	background: #eee;
	color: #424242;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

/*header*/
header{
	position: fixed;
	top:0;
	z-index: 99;
	width: 100%;
	box-shadow: 1px 1px 1px #eee;
}
header nav{
	height: 50px;
	margin:0 auto;
	line-height: 50px;
	padding-left: 10px;
	padding-right:10px;
	position: relative;

}
header nav h2 span{
	padding-right:5px;
	color: #009688;
}
header nav h2 a{
	font-size: 2rem;
}
header nav ul{
	display:none;
	position: absolute;
	top: 50px;
	left: 0;
	background: #fff;
	width: 100%;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
header nav ul li a{
	color:#222;
	display:inline-block;
	width: 90px;
}
header nav ul li a:hover{
	color:#009688;
}
.a-active{
	color: #009688;
}
header nav button{
	padding:5px 12px;
	margin-top: 9px;
	margin-right: 10px;
	font-size: 2rem;
	outline: none;
	border-radius: 5px;
}
.dis1{
	color: #1d2b2d;
	background: none;
	border: 1px solid #1d2b2d;
}
.dis2{
	color: #fff;
	background: #1d2b2d;
	border: 1px solid #1d2b2d;
}

/*banner/search*/
section.banner{
	margin-top: 50px;
	padding:30px;
	position: relative;
}
section.banner h1{
	font-size:4rem;
	letter-spacing: 5px;
}
section.banner hr{
	width:300px;
	height: 1px;
	background: #fff;
	margin:0 auto;
}
section.banner p{
	font-size: 1.2rem;
	letter-spacing: 2px;
	line-height: none;
}
section.banner button{
	position: absolute;
	top:5px;
	right:15px;
	background: none;
	outline: none;
	border:none;
	color: #009688;
	font-size: 1.8rem;
	cursor: pointer;
}
section.banner button:hover{
	color: #78909c;
}

/*search-mobile*/
.main-search{
	padding:20px;
	text-align: center;
}
.main-search input{
	height: 26px;
	width:80%;
	padding:5px;
	vertical-align: bottom;
}
.main-search button{
	width: 45px;
	height: 40px;
	font-size: 1.8rem;
	margin-left: -5px;
	background: #009688;
	color: #fff;
	outline: none;
	border:none;
}

/*右边*/
.main-con{
	margin-bottom: 20px;
	display: flex;
}
.main article.sec-left{
	flex:3;
}
.main article.sec-right{
	flex:1;
	margin-left:20px;
	display: none;
}
.main-box{
	padding:30px 15px;
	margin-bottom: 20px;
}
.main-box p{
	font-size: 1.6rem;
	color: #424242;
}
/*右侧内容*/
article .search{
	padding:30px;
}
article .search input{
	height: 30px;
	width: 70%;
	padding-left: 5px;
	vertical-align: bottom;
}
input:focus{
	outline: none;
}
article .search button{
	height: 34px;
	width: 40px;
	outline: none;
	border:none;
	margin-left: -5px;
	color: #fff;
	background: #78909c;
	font-size: 1.6rem;
}
.right-main-box{
	padding:30px 30px 40px 30px;
	margin-top:40px;
	margin-bottom: 40px;
}
.right-main-box h1{
	font-size: 1.8rem;
	font-weight: normal;
	border-bottom: 2px solid #009688;
	width: 80px;
	line-height: 30px;
}
.right-main-box img,.right-img{
	width: 100%;
}
.right-img{
	margin:10px;
}
.right-img img{
	width: 90%;
}
.weibo-box{
	border: 1px solid #ccc;
	border-top:1px solid red;
}
.weibo-box a{
	color: #0078b6;
}
.weibo-box a:hover{
	text-decoration: underline;
}
.weibo-title{
	border-bottom: 1px solid #ccc;
	line-height: 30px;
}
.weibo-title span{
	margin-right: 5px;
	margin-left: 5px;
}
.weibo-title span img{
	width: 16px;
	height: 14px;
}
.weibo-img{
	width: 50px;
	float: left;
	padding-top: 5px;
}
.weibo-person{
	margin:15px;
	height: 50px;
}
.weibo-name{
	margin-left: 60px;
}
.weibo-name img{
	width: 20px;
	height: 120px;
	margin-top:-40px;
}
.weibo-name p span{
	width: 20px;
	height: 20px;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
}
.weibo-name p{
	margin:0;
	vertical-align: top;
	line-height: 26px;
}
.weibo-name button{
	margin-top:3px;
	color: #fff;
	padding:3px 7px;
	border:none;
	font-size: 1.2rem;
	background:url(../images/btns_bg.png) 0 -30px no-repeat;
	border-radius: 4px;
}
.list ul li{
	font-size: 1.6rem;
	border-top: 1px solid #ccc;
	line-height: 24px;
	padding-top: 10px;
	margin-bottom:10px;
}
.list ul li a{
	color: #666;
}
li#list-top{
	border-top:none;
	margin-top: 20px;
}
.pic img{
    width: 20px;
    height: 20px;
    margin:20px 30px 30px 30px;
}


/*底部*/
footer{
	height: 70px;
	padding:15px;
	vertical-align: middle;
}
.b-top{
	width: 45px;
	height: 45px;
	background: #1d2b2d;
	font-size: 3rem;
	color: #fff;
	text-align: center;
	line-height: 45px;
	position: fixed;
	bottom: 100px;
	right: 15px;
	z-index: 9;
	display:none;
	opacity: 0.8;
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}
.text-center{
	text-align: center;
}
.text-white{
	color: #fff;
}
.text-dark{
	color: #424242;
}
.text-blue{
	color: #009688;
}
.bg-blue{
	background: #1d2b2d;
}
.bg-black{
	background: #222;
}
.bg-white{
	background: #fff;
}


/*响应式*/
/*@media screen and (min-width: 1140px){
}
@media screen and (min-width: 992px) and (max-width: 1140px){	
}*/
@media screen and (max-width: 992px){
	article.sec-right{
		display:none;
	}
}
@media screen and (min-width: 735px){
	header nav button{
		display:none;
	}
	header nav ul{
		display:block;
		float: right;
		text-align: center;
		width: 450px;
		position: relative;
		top:0;
	}
	header nav ul li{
		float: left;
		display: inline-block;
		height: 40px;
		margin-top: -10px;
	}
	.a-active{
		border-top:2px solid #009688;
	}
	section.banner h1{
		font-size: 5.5rem;
		letter-spacing: 5px;
	}
	section.banner hr{
		width: 450px;
		border: none;
		height: 2px;
		margin-top: 5px;
	}
	section.banner p{
		font-size: 1.6rem;
	}
	.main-page{
		width: 350px;
		margin:0 auto;
	}
	.main-page ul li{
		margin:0 5px;
	}
}
@media screen and (min-width: 992px){
	section.banner h1{
		font-size: 6rem;
		letter-spacing: 15px;
	}
	section.banner hr{
		width: 560px;
	}
	section.banner p{
		font-size: 1.8rem;
		letter-spacing: 4px;
	}
	.main-search{
		display: none;
	}
	.main{
		max-width: 1200px;
		margin:50px auto;
	}
	.main article.sec-right{
		display:block;
	}
	.main-con{
		margin:50px;
	}
	.main-box{
		padding:50px;
		margin-bottom:40px;
	}
	.main-box h1{
		font-size: 3rem;
	}
	.main-txt-img{
		width: 50%;
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
	}
}

